.reveal {
  font-size: 22px;
}
h2 {
            text-align: center !important;
            font-weight: bold !important;
          }
h1 {
            text-align: center !important;
            font-weight: bold !important;
          }